@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  background-color: #242526;
}

.section {
  width: 100%;
}

.section .container {
  width: 80%;
  display: block;
  margin: 0px auto;
  padding: 50px 0px;
  text-align: justify;
}

.container .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.container .title h1 {
  text-transform: uppercase;
  font-size: 35px;
  color: orange;
}

.container .title h1::after {
  content: "";
  height: 5px;
  width: 100px;
  background-color: orange;
  border-radius: 25px;
  display: block;
  margin: auto;
}

.content {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
}

.image-section img {
  padding-top: 15px;
  width: 100%;
  height: auto;
}

.content .article h3 {
  color: white;
  font-size: 17px;
}

.content .article p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.content .article .button {
  padding-top: 30px;
}

.exit {
  background: none;
  border: none;
  font-size: 16px;
  color: #e5e9c6f3;
  cursor: pointer;
  border-radius: 40px;
  padding: 8px 25px;
  background-color: orange;
  letter-spacing: 1.1px;
}

.exit:hover {
  color: white;
  background-color: red;
  transition: 1s ease;
}

.container .social {
  width: 100%;
  clear: both;
  margin-top: 50px;
  text-align: center;
  display: inline-block;
}

.container .social i {
  color: white;
  font-size: 22px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 45px;
  text-align: center;
  background-color: #663a05c2;
  margin: 0px 5px;
}

.container .social i:hover {
  color: white;
  background-color: orange;
  transition: 1s ease;
  transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
  .section .container {
    width: 80%;
    display: block;
    margin: auto;
  }
  .content {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
    margin-top: 50px;
  }
  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  .container .title h1 {
    text-align: center;
    font-size: 30px;
  }
  .container .article .button {
    text-align: center;
  }
  .container .article .button a {
    padding: 6px 15px;
    font-size: 16px;
  }
  .container .social i {
    font-size: 19px;
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
}
